body {
  background-color: #e7e7e7;
  justify-content: center;
}

.bg{
  background-color: white;
  padding: 1em;
  margin-top: 1em;
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}