@font-face{
  font-family: 'Sukhumvit Set';
  src: url("./font/SukhumvitSet-Text-03.ttf");
}

@font-face{
  font-family: 'Sukhumvit Set Semi';
  src: url("./font/SukhumvitSet-SemiBold-05.ttf");
}

@font-face{
  font-family: 'Sukhumvit Set Bold';
  src: url("./font/SukhumvitSet-Bold-06.ttf");
}

body {
  margin: 0;
  font-family: "Sukhumvit Set"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}